# Git LFS: video files (and Apple HEIC/HEIF media), matched case-insensitively
# macOS screen recordings and iPhone videos are .mov; iPhone photos are .heic
*.[mM][pP]4 filter=lfs diff=lfs merge=lfs -text
*.[mM][oO][vV] filter=lfs diff=lfs merge=lfs -text
*.[mM]4[vV] filter=lfs diff=lfs merge=lfs -text
*.[hH][eE][iI][cC] filter=lfs diff=lfs merge=lfs -text
*.[hH][eE][iI][fF] filter=lfs diff=lfs merge=lfs -text
*.[hH][eE][vV][cC] filter=lfs diff=lfs merge=lfs -text
*.[aA][vV][iI] filter=lfs diff=lfs merge=lfs -text
*.[mM][kK][vV] filter=lfs diff=lfs merge=lfs -text
*.[wW][eE][bB][mM] filter=lfs diff=lfs merge=lfs -text
*.[wW][mM][vV] filter=lfs diff=lfs merge=lfs -text
*.[fF][lL][vV] filter=lfs diff=lfs merge=lfs -text
*.3[gG][pP] filter=lfs diff=lfs merge=lfs -text
*.3[gG]2 filter=lfs diff=lfs merge=lfs -text
*.[mM][pP][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][pP][eE][gG] filter=lfs diff=lfs merge=lfs -text
*.[mM][tT][sS] filter=lfs diff=lfs merge=lfs -text
*.[mM]2[tT][sS] filter=lfs diff=lfs merge=lfs -text
